# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# Testing & Coverage
/coverage

# Next.js build output
/.next/
/out/

# Production build
/build

# Miscellaneous
.DS_Store
*.pem
*.log*

# Environment & local config
.env*
.vercel

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Local documentation & scratch files
*.MD
!README.md
